.pointer{
  cursor:pointer;
}

@keyframes border-pulsate {
    100%   { border-color: #4B00A7 }
    50% { border-color: transparent }
    0%   { border-color: #4B00A7 }
}

.today{
  border:2px solid #4B00A7 !important;
  animation: border-pulsate 1s infinite;
}

.not-today{
  border:2px solid #ddd !important;
}

.center-block {
  float: none !important
}

.daily-title{
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
/*    padding: 5px;
    padding-left: 30px !important;
    padding-right: 30px !important;*/
}

.convert-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.daily-gold-container{
    border: 1px solid rgba(0, 0, 0, .1);
}

.daily-gold-text{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color : #ffb807;
    font-size : 20px;
    padding-top : 8px;
    font-weight: bold;
    display:inline-block;
}

.daily-gold-plus{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color : #ffb807;
    font-size : 80px;
    padding-top : 15px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.daily-gold-claim{
    color : #fff2f0;
    font-size : 20px;
    background-color: #4b00a7;
    padding-left : 20%;
    padding-right : 20%;
    padding-top:10px;
    padding-bottom:10px;
}

.reward-area{
  height:90px;
  display: table;
}

.convert-area{
  height:80px;
  display: table;
}

.each-reward{
  display: table-cell;
  vertical-align: middle;
}

.gold-coin{
    max-width : 40px;
    vertical-align: bottom;
    /*height : 50%;*/
}

.diamond{
    /*width : 30%;*/
    float : right;
}

.convert-img{
    /*width : 30%;*/
    height : 130px !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.convert-title-heading{
  height:82px !important;
  display: table;
  width:100%;
}

.convert-title{
  display: table-cell;
  vertical-align: middle;
}

.gold-pack{
    /*bottom : 10px;*/
    margin: 0 auto !important;
    max-height : 130px !important;
}

.claim-disabled{
    opacity : 0.3;
}

.padding-top-sm{
    padding-top: 10px;
}
.padding-top-md{
    padding-top: 50px;
}

.padding-btm-sm{
    padding-bottom: 10px;
}
.padding-btm-md{
    padding-bottom: 20px;
}

.img-rounded-md{
    border-radius : 12px;
}

.text-lg{
    font-size : 40px;
    font-weight: bold;
}

.diamond-claim{
    color : #fff2f0;
    font-size : 22px;
    background-color: #21004d;
    padding-left : 20%;
    padding-right : 20%;
    padding-top : 20px;
}

.go-shop-gold{
    font-size : 24px;
    /*background-color: #21004d;*/
/*    padding-left : 20px;
    padding-top : 20px;
    padding-bottom : 20px;*/
}

.go-shop-gold i{
    font-size : 26px;
}

.top_ranking_box{
  height:140px;
  padding-left:0px;
  padding-right:0px;
  border-top:2px solid white;
}

.top_ranking_box img{
  height:138px;

}

.bg-gold{
  background-color: #D4AF37;
}

.text-gold{
  color: #D4AF37;
}

.bg-silver{
  background-color: #C0C0C0;
}

.bg-bronze{
  background-color: #CD7F32;
}

.top_ranking_number{
  vertical-align: middle;
  display: table;
}

.top_ranking_vote{
  position:absolute;
  bottom:5px;
  color:white;
  left:20px;
  font-size:16px;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background:#a464c4;
  padding:3px 10px;
}

.top_ranking_number_disp{
  font-size:90px;
  display:table-cell;
  vertical-align:middle;
  color:white;
}

.vote_box{
  padding:10px !important;

}

.marquee_ann{
  font-size:16px;
}

.title-custom{
  font-size:15px;
  font-weight:bold;
}

.font-13{
  font-size:13px;
}

.font-14{
  font-size:14px;
}

.font-15{
  font-size:15px;
}

.font-16{
  font-size:16px;
}

.font-17{
  font-size:17px;
}

.text-unstyled{
  text-decoration: none;
  color:#333333 !important;
}

.img-center{
  margin:0 auto;
}

.thumbnail-vote{
  height:120px;
  padding:5px;
  border:3px solid transparent;
  cursor:pointer;
}

.vote-active{
  border:3px solid #7e1aad;
}

.p-0{
  padding:0px !important;
}

.marquee {
  width: 100%;
  overflow: hidden;
  margin-bottom:0px;
  margin-top:3px;
}

ul.marquee li {
  display: inline-block;
  padding: 0px 30px;
  font-size:16px;
}

.disp-table{
  display:table;
}

.disp-tablecell{
  display:table-cell;
  vertical-align:middle;
}

.bg-gradient{
  background: -webkit-linear-gradient(left, #9337ba , #3963a8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9337ba, #3963a8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9337ba, #3963a8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #9337ba , #3963a8);
}

.product_title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
